.login-wrapper {
    height: 100%;
    margin: 0px;
    
    .left-pane {
        
        //background-color: #30a590;
        background: rgb(51,175,153);
        background: linear-gradient(90deg, rgba(51,175,153,1) 0%, rgba(48,165,144,1) 0%, rgba(73,180,161,1) 100%);
        //background-image: url('/assets/images/gradient-bg.png')
        border-top-left-radius: 20px;
        padding: 0px;
        border-bottom-left-radius: 20px;

        .left-pane-container {

            position: absolute;
            text-align: center;
            color: white;
            margin: 0px;
            top: 30%;
            height: 200px;
            width: 100%;

            .header {
                font-size: 34px;
                font-family: unset;
            }
        }
    }
}