<div class="_vault-container">
  <div *ngIf="vaultList"  style="border-bottom: 1px solid #ececec;">
    <div style="height: 110px;">
      <span class="_title">{{vaultList.name}}</span>
      <button class="create-pwd-btn vault-btn" [disabled]="loading" (click)="createPassword(vaultList.id)">
          <mat-icon class="mat-icon-rtl-mirror" style="float: left; cursor: pointer;" >add</mat-icon>
          <div>Add password</div> 
        </button>
    </div>
    <div class="_vault-container-footer" >
      <div class="_sub-folder" (click)="createVault(vaultList.id)">
        <img width="20px" src="https://img.icons8.com/color/48/000000/add-folder.png">
        <span class="folder-title">Create folder</span>
      </div>
    </div>
  </div>
  <app-vault-folder-section (invokeCreatePwd)="createPassword()"></app-vault-folder-section>
</div>