._vault-container {

    ._vault-container-footer {
        padding-bottom: 10px;
        padding-left: 10px;
        ._sub-folder {
            -webkit-transition: 0.25s;
            transition: 0.25s;
            width: 126px;
            cursor: pointer;
            .folder-icon {
                float: left;
                cursor: pointer;
                color: #7d7d7d;
                font-size: 25px;
            }
            .folder-title {
                color: #7d7d7d;
                position: relative;
                padding-left: 6px;
                top: .5px;
                font-size: 14px;
            }
            
        }
        ._sub-folder:hover, :focus{
            box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
            transform: translateY(-0.05em);
        }
    }
    ._bread-crumbs {
        position: relative;
        top: 32px;
        font-size: 22px;
        font-weight: 100;
        color: #898d90;  
        ._title {
            color: black;
            font-weight: normal;
        }
        .selectable:hover {
            color: #ff2e2e;
        }
    }
    
    .create-pwd-btn {
        position: relative;
        float: right;
        top: 27px;
        width: 190px;
        letter-spacing: 1px;
    }
}

