<div class="_pwd-container">
  <div class="_title">
    {{data.title}}
    <mat-icon class="mat-icon-rtl-mirror" style="float: right; color: #646464; cursor: pointer;"  (click)="closeDialog()">close</mat-icon>
  </div>
  <form class="pwd-form" (ngSubmit)="!data.editMode ? submit() : update()" [formGroup]="pwdForm">
      <span class="form-label">Name <span style="color: red">*</span></span>
      <mat-form-field class="pwd-full-width">
        <input formControlName="name" matInput>
      </mat-form-field>
      <span *ngIf="pwdForm.get('name').invalid && pwdForm.get('name').touched" class="error-msg" style="left:-43px">
        {{getNameError()}}
      </span>
      <span class="form-label">Login <span style="color: red">*</span> </span>
      <mat-form-field class="pwd-full-width">
          <input formControlName="login" matInput>
      </mat-form-field>
      <span *ngIf="pwdForm.get('login').invalid && pwdForm.get('login').touched" class="error-msg" style="left:-71px">
          {{getLoginError()}}
      </span>
      <span class="form-label">Password <span style="color: red">*</span></span>
      <mat-form-field class="pwd-full-width">
          <input formControlName="credentials" matInput [type]="hide ? 'password' : 'text'">
          <mat-icon style="cursor: pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <span *ngIf="pwdForm.get('credentials').invalid && pwdForm.get('credentials').touched" class="error-msg" style="left:-18px">
          {{getCredentialsError ()}}
        </span>
      <span class="form-label">Url</span>
      <mat-form-field class="pwd-full-width">
          <input formControlName="url" matInput>
      </mat-form-field>

      <span class="form-label">Notes</span>
      <mat-form-field class="pwd-full-width">
        <textarea formControlName="notes" matInput></textarea>
      </mat-form-field>
      <button class="vault-btn pwd-save-btn" [disabled]="pwdForm.status !== 'VALID'" [ngClass]="{'pwd-save-btn-disable': pwdForm.status !== 'VALID'}">
          <mat-spinner [hidden]="!loading" diameter=20 color="primary" style="margin: auto"></mat-spinner>
          <div [hidden]="loading">{{!data.editMode ? 'Save' : 'Update'}}</div>
      </button>
    </form>
</div>