._pwd-container {
    margin: 25px;
    ._title {
        font-family: "Museo Sans Cyrl 700",Helvetica,Arial,sans-serif;
        font-weight: 700;    
        color: #3e3d3d;
        font-size: 19px;
        margin-bottom: 20px;
    }
    .pwd-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
        .form-label {
            color: #929090;
            font-size: 14px;
            font-family: "Museo Sans Cyrl 300",Helvetica,Arial,sans-serif;
            float: left;
            padding-top: 5px;
        }      
        .pwd-full-width {
            width: 100%;
        }
        .pwd-save-btn {
            width: 100px;
        }
        .pwd-save-btn-disable {
            background-color: #b9b8b8;
            cursor: not-allowed;
        }
        .error-msg {
            position: relative;
            bottom: 20px;
            font-size: 13px;
            color: #f44335;
        }
      }
}

::ng-deep .mat-form-field-infix {
    border: none;
}
