.folder-section {
    padding-bottom: 20px;
    .hover-btn {
        color: #525252;
        height: 36px;
    }
    .hover-btn:hover {
        background-color: aliceblue;
    }
    .folder-action-list{
        padding: 0px;
    }
}

.password-section {
    .pwd-item:hover {
        background-color: aliceblue;
        cursor: pointer;
    }
}

.password-detail-section {
    border-left: 1px solid #ececec;
    padding: 40px;
    .section {
        .settings-section {
            padding: 15px 0px;
            border-bottom: 2px solid #00a876;
            .options {
                color: #696969;
                font-size: 14px;
                font-weight: 500;
                -webkit-transition: 0.25s;
                transition: 0.25s;
                cursor: pointer;
            }
            .options:hover {
                box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
                -webkit-transform: translateY(-0.1em);
                transform: translateY(-0.1em);
            }
        }
        .detail-section {
            padding: 24px 16px 5px 6px;
            border-bottom: 1px solid #ececec;
            margin: 0px;
            .col-3 {
                padding: 0px;
                color: #737272;
            }
            .pwd-credentials {
                border: none;
            }

            .pwd-credentials:focus {
                outline: none;
            }
            .option-icon {
                float: right;
                width: 18px;
                cursor: pointer;
            }
        }
    }
}

.vault-empty-section {
    display: block;
    margin: 0 auto;
    .vault-empty-header {
        text-align: center;
        font-weight: 500;
        margin-top: 8px;
        font-size: 20px;
        margin-top: 10px;
        font-family: sans-serif;
        color: #585858;
    }
    .vault-empty-add-pwd {
        text-align: center;
        font-family: sans-serif;
        color: #949494;
        cursor: pointer;
        .add-icon {
            display: inline;
            margin: 0px;
            width: 22px;
            margin-left: 4px;
            margin-bottom: 4px;
        }
    }

    .vault-empty-add-pwd:hover{
        text-decoration: underline;
    }
}
.header {
    font-size: 14px;
    letter-spacing: .5px;
    margin-bottom: 10px;
    font-weight: 500;
}

.section {
    margin: 25px;
}

.attribute-chip {
    background-color: #d7d7d7;
    padding: 4px 7px 4px 7px;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 8px;
}

.attribute-name {
    font-size: 15px;
    padding-top: 1px;
    color: #4a4a4a;
    font-family: Arial;
    letter-spacing: .06em;
    font-weight: 400;
}