.folder-section {
    .hover-btn {
        color: #525252;
    }
    .hover-btn:hover {
        background-color: aliceblue;
    }
    .folder-name {
        font-size: 15px;
        padding-top: 1px;
        font-weight: 400;
    }
}

.password-section {
    border-top: 1px solid #ececec;
    padding-top: 20px;
}

.header {
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 500;
}

.section {
    margin: 25px;
}