<div style="padding-bottom: 31px;">
  <div class="create-vault-title-container">
    <span style="font-weight: 200;font-size: 19px;">Create Vault</span>
    <mat-icon class="mat-icon-rtl-mirror" style="float: right; color: #646464; cursor: pointer;"  (click)="closeDialog()">close</mat-icon>
  </div>  
  <mat-form-field class="full-width">
      <mat-label>Vault</mat-label>
      <input matInput [(ngModel)]="name" (mousedown)="clear()">
    </mat-form-field> 
    <div [hidden]="hideError" style="color: #f54f4f;font-size: 12px;">Vault name is required</div>
    <button class="vault-btn" style="width: 120px;" [disabled]="loading" (click)="createVault()">
      <mat-spinner [hidden]="!loading" diameter=20 color="accent" style="margin: auto"></mat-spinner>
      <div [hidden]="loading">Create</div> 
    </button>
</div>
  