._form-element {
    width: 112%;
    .input-wrapper {
        ._form-control  {
            margin-top: 20px;
            margin-bottom: 10px;
            display:inline-block;
            width: 80%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        .icon-wrapper {
            display:inline-block;
            .icon-align {
                color: #dc3545;
                position: relative;
                top: 5px;
                left: 9px;
            }
        }
    }
    .form-btn {
        padding: 14px;
        font-size: 15px;
        position: relative;
        top: 20px;
        border: none;
        width: 120px;
        color: #00a876;
        letter-spacing: 1px;
        font-family: inherit;
        font-weight: 400;   
    }

    .form-btn:disabled {
        cursor: not-allowed;
    }   
}


.toggle-btn:focus, .vault-btn:focus {
    outline: none;
}

.vault-btn  {
    padding: 14px;
    font-size: 15px;
    position: relative;
    top: 20px;
    border: none;
    color: white;
    letter-spacing: 1px;
    background: #00a876;
    font-family: inherit;
    font-weight: 400;
    border-radius: 3px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.vault-btn:hover, .vault-btn:focus{
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.20em);
}