@import '../node_modules/bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";  
@import './app/shared/styles/styles.scss';

/* You can add global styles to this file, and also import other style files */

.icon-style {
  filter: invert(46%) sepia(61%) saturate(5195%) hue-rotate(141deg) brightness(99%) contrast(101%);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red-snackbar{
  background-color: rgb(153, 50, 50);
  color:lightgoldenrodyellow;
}